* {
  font-family: "Red Hat Text", sans-serif;
}
html,
body,
#root,
.App {
  height: 100%;
}
html {
  background: linear-gradient(
    hsl(234, 17%, 12%),
    hsl(235, 16%, 14%),
    hsl(236, 21%, 26%)
  );
}
.App {
  background-image: url(images/bg-stars.svg);
  position: relative;
}
.header,
.time-left {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 20vh;
}
h1,
p {
  color: white;
}
h1 {
  font-size: 1.5em;
}
.time-count {
  text-align: center;
  font-size: 4em;
  font-weight: bold;
  color: #fb6087;
}
.social-media {
  background-image: url(images/pattern-hills.svg);
  background-repeat: no-repeat;
  height: 197px;
  position: absolute;
  width: 100%;
  bottom: 0px;
  top: 70vh;
}
.icons {
  width: 25%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 15vh;
}
.icon {
  width: 24px;
  height: 24px;
}
.facebook {
  background-image: url(images/icon-facebook.svg);
}
.pinterest {
  background-image: url(images/icon-pinterest.svg);
}
.instagram {
  background-image: url(images/icon-instagram.svg);
}
span.icon.facebook:hover {
  filter: invert(50%) sepia(83%) saturate(1703%) hue-rotate(310deg)
    brightness(101%) contrast(97%);
}
span.icon.pinterest:hover {
  filter: invert(50%) sepia(83%) saturate(1703%) hue-rotate(310deg)
    brightness(101%) contrast(97%);
}
span.icon.instagram:hover {
  filter: invert(50%) sepia(83%) saturate(1703%) hue-rotate(310deg)
    brightness(101%) contrast(97%);
}
